@using bowling_tournament_MVCPRoject.Domain.Entities
@using bowling_tournament_MVCPRoject.UI.ViewModels
@model TeamDisplayVM
<div class="justify-content-center row">
	<div class="col-10">
		<div class="card">
			<div class="card-header">
				<h3>@Model.TeamName</h3>
			</div>
			<div class="card-body">
				<ul class="list-unstyled">
					<li>Division: @Model.TeamDivision</li>
					<li>
                        <h4 class="pt-2">Players:</h4>

                        <table class="table player-table mt-3">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>City</th>
                                    <th>Province</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (Player player in Model.Players)
                                {
                                    <tr>
                                        <td>@player.PlayerName</td>
                                        <td>@player.City</td>
                                        <td>@player.Province</td>
                                        <td>@player.Email</td>
                                        <td>@player.Phone</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

					</li>
				</ul>
			</div>
		</div>
	</div>


</div>