@using bowling_tournament_MVCPRoject.Domain.Models
@model Team;

<div class="justify-content-center row">
    <h3 class="text-center pb-5">@Model.TeamName</h3>

    <div class="col-6">

        <form method="post" asp-action="EditTeam">
            <input type="hidden" name="TeamId" value="@Model.TeamId" />

            <div class="row mb-2">
                <label class="col-4 col-form-label">Team Name:</label>
                <div class="col-8">
                    <input name="TeamName" class="form-control" type="text" value="@Model.TeamName" />
                </div>
            </div>

            <div class="row mb-2">
                <label class="col-4 col-form-label">Division:</label>
                <div class="col-8">
                    <select name="DivisionId" class="form-select">
                        <option value="1" selected="@(Model.DivisionId == 1)">Men's</option>
                        <option value="2" selected="@(Model.DivisionId == 2)">Women's</option>
                        <option value="3" selected="@(Model.DivisionId == 3)">Mixed</option>
                        <option value="4" selected="@(Model.DivisionId == 4)">Youth</option>
                        <option value="5" selected="@(Model.DivisionId == 5)">Senior</option>
                    </select>
                </div>
            </div>

            <h4>Players:</h4>
            <ul class="list-group mb-3">

                @foreach (var p in Model.Players)
                {
                    <li class="list-group-item">
                        @p.PlayerName

                        <button type="button"
                                class="btn btn-warning btn-sm float-end ms-2"
                                onclick="editPlayer(
                                        @p.PlayerId,
                                        '@p.PlayerName',
                                        '@p.City',
                                        '@p.Province',
                                        '@p.Email',
                                        '@p.Phone',
                                        @Model.TeamId
                                    )">
                            Edit
                        </button>

                        <button type="button"
                                class="btn btn-danger btn-sm float-end"
                                onclick="submitDelete(@p.PlayerId)">
                            Delete
                        </button>
                    </li>
                }
            </ul>
            @if (Model.Players.Count < 4)
            {
                <button type="button"
                class="btn btn-primary w-100 mb-3"
                    onclick="addPlayer('addPlayerDivEdit')">
                Add Another Player
            </button>
            }

            <div id="addPlayerDivEdit"></div>

            <button type="submit" class="btn btn-success w-100 mt-2">
                Submit Team Changes
            </button>
        </form>

        @foreach (var p in Model.Players)
        {
            <form id="deleteForm-@p.PlayerId"
                  action="/Admin/RemovePlayer"
                  method="post"
                  class="d-none">
                <input type="hidden" name="id" value="@p.PlayerId" />
            </form>
        }

        <div id="editPlayerContainer" class="mt-4"></div>

    </div>
</div>
